* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border: solid 3px black;

    background-color: rgb(233, 35, 233);
    color: white;
    text-align: right;
}

main {
    border: solid red 3px;

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
}

figure {
    position: relative;
}

img {
    padding: 3px;
    max-width: 200px;
}

span {
    position: absolute; 
    left: 10px; 
    bottom: 7px;
    background-color: grey;
    color: white;
    
    /* opacità cambia anche la scritta
    opacity: 0.3; */
}

footer {
    border: solid green 3px;

    background-color: grey;
    color: white;
}