* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 40px;
    background-color: black;
    color: white;
    text-align: right;
}

span {
    background-color: grey;
    color: white;
}

main {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center
}

figure {
    position: relative;
}

img {
    padding: 3px;
    max-width: 200px;
}

.spanimg {
    position: absolute; 
    left: 10px; 
    bottom: 7px;
    background-color: grey;
    color: white;

    /* opacità cambia anche la scritta
    opacity: 0.3; */
}

footer {
    border: solid green 3px;

    background-color: grey;
    color: white;
}